# Screenpipe binaries
screenpipe_bin/
screenpipe.zip

# Personal Data / Reports
*.md
!README.md
*.sqlite
focus_log.csv

# Python
__pycache__/
*.pyc
.venv/

# Secrets & Local Config
service_account.json
